%buttons-style {
    background-color: #e9e9e3;
    border: 2px solid #6F6F64;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    transition: background-color .3s ease-out;
    overflow: hidden;
    position: relative;
    color: #6F6F64;
    max-width: 531px;
    min-height: 58px;

    
}